Target setup for multipath testing
---------------------------------------------------
Configure iSCSI target in the way described below:
in ietd.conf
Set Targetname to

Target iqn.2010-03.target:multipath.disk1

Other wise change tagetname in /usr/share/qa/qa_sw_multipath/data/vars
TARGET_DISK=

then export device twice
	Lun 0 Path=/dev/sdb,Type=blockio,ScsiId=mpath1
	Lun 1 Path=/dev/sdb,Type=blockio,ScsiId=mpath1
The ScsiId option is very important if you want to change this value then update multipath configuration files:
/usr/share/qa/qa_sw_multipath/data/active_active
/usr/share/qa/qa_sw_multipath/data/active_passive
/usr/share/qa/qa_sw_multipath/data/path_checker_tur
/usr/share/qa/qa_sw_multipath/data/path_checker_directio

Also you need to specify:
PART_SIZE to fit capacity of your disk
and
TARGET= (ip or hostname of your iSCSI target)
