#!/bin/bash
# ****************************************************************************
# Copyright © 2011 Unpublished Work of SUSE, Inc. All Rights Reserved.
# 
# THIS IS AN UNPUBLISHED WORK OF SUSE, INC.  IT CONTAINS SUSE'S
# CONFIDENTIAL, PROPRIETARY, AND TRADE SECRET INFORMATION.  SUSE
# RESTRICTS THIS WORK TO SUSE EMPLOYEES WHO NEED THE WORK TO PERFORM
# THEIR ASSIGNMENTS AND TO THIRD PARTIES AUTHORIZED BY SUSE IN WRITING.
# THIS WORK IS SUBJECT TO U.S. AND INTERNATIONAL COPYRIGHT LAWS AND
# TREATIES. IT MAY NOT BE USED, COPIED, DISTRIBUTED, DISCLOSED, ADAPTED,
# PERFORMED, DISPLAYED, COLLECTED, COMPILED, OR LINKED WITHOUT SUSE'S
# PRIOR WRITTEN CONSENT. USE OR EXPLOITATION OF THIS WORK WITHOUT
# AUTHORIZATION COULD SUBJECT THE PERPETRATOR TO CRIMINAL AND  CIVIL
# LIABILITY.
# 
# SUSE PROVIDES THE WORK 'AS IS,' WITHOUT ANY EXPRESS OR IMPLIED
# WARRANTY, INCLUDING WITHOUT THE IMPLIED WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. SUSE, THE
# AUTHORS OF THE WORK, AND THE OWNERS OF COPYRIGHT IN THE WORK ARE NOT
# LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT, OR OTHERWISE, ARISING FROM, OUT OF, OR IN CONNECTION
# WITH THE WORK OR THE USE OR OTHER DEALINGS IN THE WORK.
# ****************************************************************************

BACKUP=/var/tmp/bind_backup.tar.gz
TESTCONFBASE=/usr/share/qa/qa_test_bind/data
BINDCTRL=/etc/init.d/named
PID_FILE=/var/run/named/named.pid
DATADIR=/var/lib/named
OSVERSION=`cat /etc/SuSE-brand | grep VERSION | cut -d" " -f3`

if [ ! -d "$DATADIR" ]; then DATADIR="/var/named"; fi
if [ ! -d "$DATADIR" ]; then exit 2; fi

backup_config(){
   if [ $OSVERSION -eq '10' ]; then
      tar -czf $BACKUP --one-file-system -C / /etc/named.conf /etc/named.conf.include /etc/named.d /etc/sysconfig/named $DATADIR 2> /dev/null || exit 2
   else
      tar -czf $BACKUP --one-file-system -C / /etc/named.conf /etc/named.d /etc/sysconfig/named $DATADIR 2> /dev/null || exit 2
   fi
}

install_config(){
   test -z "$1" && exit 2

   TESTCONFDIR="$TESTCONFBASE/$1"
   test -d "$TESTCONFDIR" || exit 2

   sed "s#__DATADIR__#$DATADIR#" $TESTCONFDIR/named.conf > /etc/named.conf
   cp $TESTCONFDIR/sysconfig /etc/sysconfig/named
   tar -xzf $TESTCONFDIR/data.tar.gz -C $DATADIR
}

restore_config(){
   tar -xzf $BACKUP -C / 2> /dev/null || exit 2

   rm $BACKUP
}

restart_bind() {
   $BINDCTRL restart > /dev/null 2>&1
}


